
<!DOCTYPE html>
<html><head>
  <title>Home - My Site</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="javascript" href="/javascript/loadStudents.js">
</head>
<body>
  <header>
    <h1>My Site</h1></header>
    <div class="container">
      <div class="main-content">
      <p>YOOOOO</p>
    </div><div class="sidebar"><div class="widget"><h1>Widget</h1><p>Sed auctor neque eu tellus rhoncus ut
eleifend nibh porttitor. Ut in nulla enim.</p><p>Vivamus hendrerit arcu sed erat molestie
vehicula.</p></div></div></div><footer><p>Running on node with Express, Jade and Stylus</p></footer></body></html>